*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@media (max-width:600px){
    #header{
        width: 100%;
        height: 100px;
        position: sticky;
        top: 0px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 200px) ;    
        box-shadow: 0 0 6px rgba(15, 15, 15, 0.842);
        background: rgba(12, 11, 11, 0.692);
        z-index: 1;
    }
    .logo{
        margin: 20px;
        color: #F23534;
        font-size: 50px;
        margin-left: 150px;
        line-height: 70px;
        font-size: 70px;
        
    }
    .serach{
        margin: 10px;
        margin-left: 20px;
        line-height: 80px;
        position: relative;
  
    }
    .serach input{
        padding: 10px;
        width: 150px;
        height: 40px;
        border-radius: 3px;
        outline: none;
        border: 1px solid rgba(8, 8, 8, 0.253);
        border-bottom: 3px solid #F29434;
        
    }
    .search-btn{
        position: absolute;
        left: 75%;
        top: 20px;
        height: 42px;
        width: 40px;
        border-radius: 5px;
        background: #F29434;
    }
    .login{
        margin: 10px;
        line-height: 80px;
        margin-left: 20px;
        position: absolute;
        left: 200px;
        top: 129px;
        font-size: 10px;

    }
}
@media (min-width:600px){
   
    .serach{
        margin: 10px;
        margin-left: -10px;
        line-height: 80px;
        position: relative;
        top: 100px;
  
    }
    .search-btn{
        position: absolute;
        left: 58%;
        top: 17px;
        height: 48px;
        width: 55px;
        border-radius: 5px;
        background: #F29434;
    }
    .serach input{
        padding: 10px;
        width: 400px;
        height: 50px;
        border-radius: 3px;
        outline: none;
        border: 1px solid rgba(8, 8, 8, 0.253);
        border-bottom: 3px solid #F29434;
        
    }
    .search-btn i{
        position: absolute;
        top: 15px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        left: 18px;
    
    }
    .login{
        margin: 20px;
        line-height: 80px;
        margin-left: 0px;
        position: absolute;
        left: 55%;
        font-size: 15px;
    }
}
@media(min-width: 1200px){

    #header{
        width: 100%;
        height: 100px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 100px 600px 600px;    
        box-shadow: 0 0 6px rgba(15, 15, 15, 0.842);
        
    }
    .logo{
        margin: 20px;
        color: #F23534;
        font-size: 60px;
        margin-left: 80px;
        line-height: 80px;
    }
    .logo span{
        color: #F29434;
    }
    .serach{
        margin: 20px;
        margin-left: 300px;
        line-height: 80px;
        position: relative;
        top: -10px;
        
    
    }
    .serach input{
        padding: 20px;
        width: 400px;
        height: 30px;
        border-radius: 3px;
        outline: none;
        border: 1px solid rgba(8, 8, 8, 0.253);
        border-bottom: 3px solid #F29434;
        
    }
    .serach input:focus{
        border: 1px solid #F23534;
    }
    .search-btn{
        position: absolute;
        left: 129%;
        top: 20px;
        height: 42px;
        width: 40px;
        border-radius: 5px;
        background: #F29434;
        
    
    }
    .search-btn i{
        position: absolute;
        top: 12px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        left: 10px;
    
    }
    .login{
        margin: 20px;
        line-height: 80px;
        margin-left: 200px;
    }
    .login i{
        margin-right: 5px;
        color: #F23534;
    }
    .login a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.438);
    }
    .login span{
        margin: 0px 5px;
    }
    .login a:hover{
        text-decoration: underline;
    }
}
/* ******************************************** */